.footer-bg {
    background-color: #e6e6e6; 
  }

  /* For mobile screens */
footer {
    padding: 20px;
  }
  
    .footer {
      height: auto;
    }

  .social-icons a {
    padding: 3px;
    background-color: rgb(27, 25, 25);
    border-radius: 50px;
    width:4vw;
    display: flex;
    justify-content: center;
  }
  form input {
    text-indent: 3px;
  }