* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with min-width of 200px */
  gap: 30px;
  margin: 20px;
  padding: 10px;
  margin-bottom: 30px;
}

.movie-card {
  background-color: rgb(233, 228, 228);
  border: 0.5px solid rgb(17, 16, 16);
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 12px;
  height: auto;
  overflow: hidden;
  min-height: 433px;
}

.movie-card .movie-poster {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.movie-card .movie-details {
  padding:3px;
  margin: auto;
}

.movie-card .movie-title {
  font-weight: bold;
  font-size: 23px;
}

.movie-card .movie-release-date {
  color: rgb(16, 16, 16);
  font-size: 20px;
}

body .input input {
  border: 1px solid black !important;
}

footer input:hover{
  cursor: pointer;
  border: 1px solid blueviolet;
}

.loader {
  height: 100vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.fade-out {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out.opaque {
  opacity: 0;
}
