.movie-trailer-card{
    background-color: rgb(251, 248, 255);
}
.movie-trailer-card .movie-poster img{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.693);
}
.b-dark{
    border: 1px solid rgb(216, 199, 199);
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.bg-slate{
    background-color: rgb(241, 238, 238);
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
.rounded{
    border-radius: 10px;
}
.text-left{
    text-align: left;
}
.text-18px {
    font-size: 17px;
}
.text-20px {
    font-size: 20px;
}
.movie-trailer-card .movie-details {
    height: auto;
    min-height: 39vh;
}
/* border: 1px solid rgba(0, 0, 0, 0.693); */
@media only screen and (max-width:400px) {
    .movie-trailer-card .movie-poster {
        width: 100vw;
    }
    .movie-trailer-card .movie-poster img {
        width: 100vw;
    }
}